@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{margin: 0; padding: 0;}

body{
	font-size: 16px!important;
	}
body{
	scroll-behavior: smooth;
}
p{font-size: 16px;color: rgba(0,0,0,.8)}

.logo{margin-top:0px; }	
.collapse li{position: relative}
.collapse ul li a:hover{ color:#007bff;}
ul .nav-item{ position: relative;}
ul .dropdown-menu { position: absolute;}
.collapse  ul li:hover .dropdown-menu{opacity: 1; visibility: visible!important;}
.menu ul{padding:0;margin:0;list-style:none;display: flex}
.menu ul li a{padding: 0 20px; }
.menu ul li a:hover{color: #007bff}

.logomain{width: 50%; height: auto}
.banner{
	height: 100vh; 
	background-image: url("../img/illustration-2.png");
	background-size: contain; background-repeat: no-repeat;
	background-position:center;
	
}




/*button*/
.btn-secondary{
    color:#335eea!important;
    background-color:rgba(181,209,248,0.92) !important;
    border-color: rgba(181,209,248,0.92)!important;
}
.lift {
    transition: box-shadow .25s ease,transform .25s ease;
}
.shadow {
    box-shadow: 0 .5rem 1.5rem rgba(22,28,45,.1)!important;
}
/*mauform*/
.mauform input{
	border-bottom: 1px solid rgba(38,35,35,0.5) !important;
	border-radius: 0;
	padding: 0;
	
}
ul li{list-style: none}
.navbar ul li:hover{color:rgba(22,28,45,.1)}
.mauform:hover{
	box-shadow: 5px 5px 25px 12px rgba(22,28,45,.1) !important;
}
.text-lightgreen{
	color:rgba(190,220,171,0.59)
}
.text-align-left {text-align:left!important;
}
.content ul {
	list-style: none;
	margin-left:  -8px;
	margin-right: 80px;
}
.content ul span {
	font-size:18px;
}
 .quanqua { 
	
	 position: absolute;
	 perspective: 400px;
	 top:-20px;
	 right:0;
	   
	
 } 
.quanqua img{
	
	/*transform: rotateY(-35deg) rotateX(15deg);*/
	transform: rotateX(1deg) rotateY(-13deg) rotateZ(2deg);
	transform-origin: 50% 50% 0px;
	    box-shadow: 25px 60px 125px -25px rgb(80 102 144 / 10%), 16px 40px 75px -40px rgb(0 0 0 / 20%);
	vertical-align: middle;
}

/*carousel*/
.nutbam{
	height:40px;
	width:40px;
	border-radius: 40px;
}
.nutchuyen-phai{
	right:-80px !important;
}
.nutchuyen-trai{
	left:-80px!important;
}
 /*Footer */
.Footer{
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
	
}
.footer-left{
    text-align: left;

}
.footer1 a{
    text-decoration: underline;
    font-size: 22px;
    font-weight: 400;
}
.footer1 a:hover  {
   color:#f0efec;
}
.footer-right a{
    text-decoration: none;
} 

.footer-right{
    text-align: right;
}

.media-relations{
    font-size: 18px;
}
.media-relations a{
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 0 12px;
}
.media-relations a:hover{
    opacity: 0.6;
}

.Footer:hover{
  
    top:0;
    transition-duration: 1s;
    transition-delay: 2s;
    z-index: 500;
}
/**/
.py-100{padding:100px 0}
.py-50{padding: 50px 0}
.mt-15{margin-top: 15px}
.mt-60{margin-top: 60px}
.ml-25{margin-left:  25px}
.mr-25{margin-right: 25px}
.mr-20{margin-right: 20px}
.m-25{margin: 0 25px}
.my-10{ margin: 10px 0} .mx-10{ margin: 0 10px}
.my-20{margin:20px 0}
.mt-20{margin-top: 20px}
.mb-20{margin-bottom: 20px}
.mx-20{margin: 20px 0}
.my-20{margin: 0 20px}
.mr-10{ margin-right: 10px}.ml-10{ margin-left: 10px}
.ml-15{margin-left: 15px}
.mt_30{margin-top: -40px}
.p-15{padding: 15px}
.p-30{padding: 30px}
.pt-100{padding-top: 100px}
.pr-10{ padding-right: 10px}.pl-10{ padding-left: 10px}
.py-10{ padding: 10px 0}.px-10{ padding: 0 10px}
.pt-50{padding-top: 50px}
.pl-15{padding-left: 15px}
.pt-0{padding-top: 0}
.pt-20{padding-top: 20px}
.p-20{margin: 20px}
.px-60{padding: 0 60px}
.px-25{padding: 0 25px}
.pt-30{padding-top:30px}
.pt-60{padding-top:60px}
.img-50{width: 50%}
.pl-0{padding-left: 0}

